Repository DO-SOPT-CDS-SEMINAR/Apple-Client, pull requests merged in 2023-11, with the labels that each got.

#2 [Common]theme, globalstyle 완성
  package.json
  src/App.tsx
  src/styles/GlobalStyle.ts
  src/styles/fonts/SF-Pro-Display-Bold.otf
  src/styles/fonts/SF-Pro-Display-Regular.otf
  src/styles/fonts/SF-Pro-Display-Semibold.otf
  src/styles/fonts/fonts.css
  src/styles/style.d.ts
  src/styles/theme.ts
  yarn.lock
Labels: 초기 세팅

#13 [Init] svgr 세팅 및 스타일 수정
  asset.d.ts
  package.json
  src/assets/icon/add_ic_angle.svg
  src/assets/icon/add_ic_eye.svg
  src/assets/icon/add_ic_fold.svg
  src/assets/icon/add_ic_handtap.svg
  src/assets/icon/add_ic_usb_c.svg
  src/assets/icon/add_ipadpro_ic_close.svg
  src/assets/icon/gnb_ic_apple.svg
  src/assets/icon/gnb_ic_search.svg
  src/assets/icon/gnb_ic_shop.svg
  src/assets/icon/ic_right_bold.svg
  src/assets/icon/ic_swatch.svg
  src/assets/icon/index.ts
  src/assets/icon/ipadpro_ic_applebag.svg
  src/assets/icon/ipadpro_ic_down_blue_24.svg
  src/assets/icon/ipadpro_ic_down_gray_24.svg
  src/assets/icon/ipadpro_ic_down_gray_32.svg
  src/assets/icon/ipadpro_ic_left_24.svg
  src/assets/icon/ipadpro_ic_left_circle_hover.svg
  src/assets/icon/ipadpro_ic_left_circle_normal.svg
  src/assets/icon/ipadpro_ic_plus_circle_disabled.svg
  src/assets/icon/ipadpro_ic_plus_circle_fill.svg
  src/assets/icon/ipadpro_ic_plus_circle_normal.svg
  src/assets/icon/ipadpro_ic_right_black_24.svg
  src/assets/icon/ipadpro_ic_right_blue_16.svg
  src/assets/icon/ipadpro_ic_right_circle_hover.svg
  src/assets/icon/ipadpro_ic_right_circle_normal.svg
  src/assets/icon/ipadpro_ic_right_gray_24.svg
  src/assets/icon/ipadpro_ic_scrab_fill.svg
  src/assets/icon/ipadpro_ic_scrab_normal.svg
  src/assets/icon/ipadpro_ic_truck.svg
  src/assets/icon/ipadpro_ic_up_gray.svg
  src/assets/icon/ipadpro_ic_up_gray_32.svg
  src/assets/icon/main_ic_boxtruck.svg
  src/assets/icon/main_ic_card.svg
  src/assets/icon/main_ic_pinstore.svg
  src/assets/icon/main_ic_store.svg
  src/assets/icon/main_ic_trade.svg
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: 초기 세팅

#14 [Common] 호버되었을 때 사용할 공통 컴포넌트 구현
  src/common/HoveredProduct/HoveredProduct.style.ts
  src/common/HoveredProduct/index.tsx
Labels: 퍼블리싱, Common

#16 [Common] Button 7가지 종류 공통 컴포넌트 구현
  src/assets/icon/ic_swatch.svg
  src/assets/icon/ic_swtach_silver.svg
  src/assets/icon/ic_swtach_spacegray.svg
  src/assets/icon/index.ts
  src/common/Button/AddToCartButton/AddToCartButton.style.ts
  src/common/Button/AddToCartButton/index.tsx
  src/common/Button/BuyButton/BuyButton.style.ts
  src/common/Button/BuyButton/index.tsx
  src/common/Button/ColorTypeButton/ColorTypeButton.style.ts
  src/common/Button/ColorTypeButton/index.tsx
  src/common/Button/DefaultButton/DefaultButton.style.ts
  src/common/Button/DefaultButton/index.tsx
  src/common/Button/DisplayTypeButton/DisplayTypeButton.style.ts
  src/common/Button/DisplayTypeButton/index.tsx
  src/common/Button/GigaTypeButton/GigaTypeButton.style.ts
  src/common/Button/GigaTypeButton/index.tsx
  src/common/Button/PlusIconButton/PlusIconButton.style.ts
  src/common/Button/PlusIconButton/index.tsx
Labels: 퍼블리싱, Common

#19 [Common] Dropdown component 구현
  src/components/Dropdown/Dropdown.style.ts
  src/components/Dropdown/index.tsx
  src/constants/dropdown.constant.ts
Labels: 퍼블리싱, Common

#21 [Common] page controller 공통컴포넌트 구현
  src/assets/icon/ellipse_dark.svg
  src/assets/icon/ellipse_light.svg
  src/assets/icon/index.ts
  src/common/PageController/PageController.style.ts
  src/common/PageController/index.tsx
Labels: 퍼블리싱, Common

#15 [Common]상단 Gnb, Banner, Nb 공통 컴포넌트 구현
  package.json
  src/App.tsx
  src/assets/icon/gnb_ic_apple.svg
  src/assets/icon/gnb_ic_search.svg
  src/assets/icon/gnb_ic_shop.svg
  src/common/Banner/Banner.style.ts
  src/common/Banner/index.tsx
  src/common/Gnb/Gnb.style.ts
  src/common/Gnb/index.tsx
  src/common/Nb/Nb.style.ts
  src/common/Nb/index.tsx
  src/constant/gnbContents.ts
  src/constant/mainButton.ts
Labels: 퍼블리싱, Common

#28 [ShowIpad] ShowIpad 뷰 내부에서 쓰일 공통 헤더 구현
  src/components/ShowIpad/Header/ShowIpadHeader.style.ts
  src/components/ShowIpad/Header/index.tsx
  src/pages/ShowIpad/ShowIpadPage.tsx
Labels: 퍼블리싱, ShowIpad

#29 [ShowIpad] 구매 가능한 아이패드 종류를 보여주는 섹션 퍼블리싱
  src/assets/icon/ic_swatch_sm_beige.svg
  src/assets/icon/ic_swatch_sm_coral.svg
  src/assets/icon/ic_swatch_sm_darkgray.svg
  src/assets/icon/ic_swatch_sm_lightsilver.svg
  src/assets/icon/ic_swatch_sm_navy.svg
  src/assets/icon/ic_swatch_sm_pink.svg
  src/assets/icon/ic_swatch_sm_purple.svg
  src/assets/icon/ic_swatch_sm_red.svg
  src/assets/icon/ic_swatch_sm_silver.svg
  src/assets/icon/ic_swatch_sm_skyblue.svg
  src/assets/icon/ic_swatch_sm_spacegray.svg
  src/assets/icon/ic_swatch_sm_turquiose.svg
  src/assets/icon/ic_swatch_sm_yellow.svg
  src/assets/icon/index.ts
  src/assets/icon/ipad_img_sw_pattern01.svg
  src/assets/icon/ipad_img_sw_pattern02.svg
  src/assets/icon/ipad_img_sw_pattern03.svg
  src/common/Button/BuyButton/BuyButton.style.ts
  src/common/HoveredProduct/HoveredProduct.style.ts
  src/components/ShowIpad/ColorPreview/ColorPreviewList.tsx
  src/components/ShowIpad/ColorPreview/index.tsx
  src/components/ShowIpad/FirstSection/IpadProducts/IpadProducts.style.ts
  src/components/ShowIpad/FirstSection/IpadProducts/index.tsx
  src/components/ShowIpad/FirstSection/ShowAllProducts/ShowAllProducts.style.ts
  src/components/ShowIpad/FirstSection/ShowAllProducts/index.tsx
  src/components/ShowIpad/Header/ShowIpadHeader.style.ts
  src/pages/ShowIpad/ShowIpadPage.tsx
Labels: 퍼블리싱, Common, ShowIpad

#34 [Main]상단 구매항목 Category List 구현
  src/components/Category/Category.style.ts
  src/components/Category/ListItem.tsx
  src/components/Category/index.tsx
Labels: 퍼블리싱, 기능 구현, Main

#35 [Main]상단 Title Header 퍼블리싱
  src/assets/icon/index.ts
  src/assets/icon/main_img_chat_specialist.svg
  src/components/Main/TitleHeader/TitleHeader.style.ts
  src/components/Main/TitleHeader/index.tsx
Labels: 퍼블리싱, Main

#41 [AddAccessory]모달창 위치 설정 및 모달 내부 구조 퍼블리싱
  src/pages/AddAccessory/AddAccessory.style.ts
  src/pages/AddAccessory/AddAccssory.tsx
  src/pages/AddAccessory/index.tsx
Labels: 퍼블리싱, AddAccessory

#42 [AddAccessory]모달 위 메뉴 토글버튼 퍼블리싱/ 클릭 시 색변화 구현
  src/components/AddAccessory/toggle/ToggleButton.tsx
  src/components/AddAccessory/toggle/ToggleMenu.style.ts
  src/components/AddAccessory/toggle/index.tsx
  src/constant/toggleMenu.ts
Labels: 퍼블리싱, 기능 구현, AddAccessory

#44 [ShowIpad] ShowIpad 뷰 가로 캐러셀 구현
  package.json
  src/components/ShowIpad/CommonSwiper/CommonSwiper.style.ts
  src/components/ShowIpad/CommonSwiper/index.tsx
  src/components/ShowIpad/FirstSection/ShowAllProducts/ShowAllProducts.style.ts
  src/components/ShowIpad/FirstSection/ShowAllProducts/index.tsx
  src/components/ShowIpad/FirstSection/ShowFirstSection/ShowFirstSection.ts
  src/components/ShowIpad/FirstSection/ShowFirstSection/index.tsx
  src/pages/ShowIpad/ShowIpad.style.ts
  src/pages/ShowIpad/ShowIpadPage.tsx
  src/pages/ShowIpad/index.tsx
  yarn.lock
Labels: 기능 구현, Common, ShowIpad

#51 [AddAccessory]모달창 우측 infolist 컴포넌트화
  src/components/AddAccessory/toggle/ItemInfo/ItemInfo.style.ts
  src/components/AddAccessory/toggle/ItemInfo/index.tsx
  src/constant/modalInfo.tsx
Labels: 퍼블리싱, AddAccessory

#49 [ShowIpad] 2, 3, 4, 7번 째 섹션 구현
  package-lock.json
  src/components/ShowIpad/CommonSection/AdvertisementCard/AdvertisementCard.style.ts
  src/components/ShowIpad/CommonSection/AdvertisementCard/index.tsx
  src/components/ShowIpad/CommonSection/ShowCommonSection/ShowCommonSection.style.ts
  src/components/ShowIpad/CommonSection/ShowCommonSection/index.tsx
  src/components/ShowIpad/CommonSwiper/CommonSwiper.style.ts
  src/pages/ShowIpad/index.tsx
Labels: 퍼블리싱, ShowIpad

#57 [ShowIpad] 5, 6, 8번 째 섹션 구현
  src/components/ShowIpad/CommonSection/AdvertisementCard/AdvertisementCard.style.ts
  src/components/ShowIpad/CommonSection/AdvertisementCard/index.tsx
  src/components/ShowIpad/CommonSection/ShowCommonSection/ShowCommonSection.style.ts
  src/components/ShowIpad/CommonSection/ShowCommonSection/index.tsx
  src/components/ShowIpad/CommonSwiper/index.tsx
  src/components/ShowIpad/FifthSection/FifthCard/FifthCard.style.ts
  src/components/ShowIpad/FifthSection/FifthCard/index.tsx
  src/components/ShowIpad/FifthSection/ShowFifthSection/ShowFifthSection.style.ts
  src/components/ShowIpad/FifthSection/ShowFifthSection/index.tsx
  src/components/ShowIpad/FirstSection/ShowFirstSection/index.tsx
  src/components/ShowIpad/SixthSection/ShowSixthSection/ShowSixthSection.style.ts
  src/components/ShowIpad/SixthSection/ShowSixthSection/index.tsx
  src/components/ShowIpad/SixthSection/SixthCard/SixthCard.style.ts
  src/components/ShowIpad/SixthSection/SixthCard/index.tsx
  src/pages/ShowIpad/ShowIpad.style.ts
  src/pages/ShowIpad/index.tsx
Labels: 퍼블리싱, ShowIpad

#58 [ShowIpad] ShowIpad 뷰에서 쓰일 헤더 구현 (gnb 위에 위치)
  src/assets/icon/index.ts
  src/assets/icon/ipad_ic_right.svg
  src/assets/icon/ipad_img_chat_specialist.svg
  src/components/ShowIpad/PageHeader/PageHeader.style.ts
  src/components/ShowIpad/PageHeader/index.tsx
Labels: 퍼블리싱, ShowIpad

#64 [Add accessory]상세이미지 가로 스크롤
  package.json
  src/components/AddAccessory/ImgCarousel/ImgCarousel.style.ts
  src/components/AddAccessory/ImgCarousel/index.tsx
  yarn.lock
Labels: 퍼블리싱, 기능 구현, AddAccessory

#69 [Init] 페이지 라우팅
  src/App.tsx
  src/Router.tsx
  src/pages/Purchase/PurchasePage.tsx
Labels: 초기 세팅, Common

#68 [ShowIpad] Ipad 구매하기 뷰 하단 컴포넌트 구현
  src/assets/icon/icon_ipadpro_ctype.svg
  src/assets/icon/img_ipadpro_5g.svg
  src/assets/icon/img_ipadpro_a14.svg
  src/assets/icon/img_ipadpro_a15.svg
  src/assets/icon/img_ipadpro_adapter.svg
  src/assets/icon/img_ipadpro_appleac_ex.svg
  src/assets/icon/img_ipadpro_appleac_ic.svg
  src/assets/icon/img_ipadpro_appletv_ex.svg
  src/assets/icon/img_ipadpro_appletv_ic.svg
  src/assets/icon/img_ipadpro_camera_ultrawide.svg
  src/assets/icon/img_ipadpro_camera_wide.svg
  src/assets/icon/img_ipadpro_compare_ipad.svg
  src/assets/icon/img_ipadpro_compare_ipadair.svg
  src/assets/icon/img_ipadpro_compare_ipadmini.svg
  src/assets/icon/img_ipadpro_ctype.svg
  src/assets/icon/img_ipadpro_front.svg
  src/assets/icon/img_ipadpro_ipad.svg
  src/assets/icon/img_ipadpro_keyboard_1.svg
  src/assets/icon/img_ipadpro_keyboard_2.svg
  src/assets/icon/img_ipadpro_m1.svg
  src/assets/icon/img_ipadpro_pencil_1.svg
  src/assets/icon/img_ipadpro_pencil_2.svg
  src/assets/icon/img_ipadpro_touchid.svg
  src/assets/icon/img_ipadpro_wide.svg
  src/assets/icon/index.ts
  src/assets/icon/ipadpro_ic_right_blue_16.svg
  src/components/BottomComponents/FirstSection/FirstSection.style.ts
  src/components/BottomComponents/FirstSection/index.tsx
  src/components/BottomComponents/SecondSection/SecondSection.style.ts
  src/components/BottomComponents/SecondSection/index.tsx
  src/components/BottomComponents/ThirdSection/ThirdSection.style.ts
  src/components/BottomComponents/ThirdSection/index.tsx
  src/constant/IpadProEvent.tsx
  src/constant/ipadInfo.tsx
Labels: 퍼블리싱, ShowIpad, PurchaseIpadPro

#72 Feature/add accessory
  package.json
  src/components/AddAccessory/ImgCarousel/ImgCarousel.style.ts
  src/components/AddAccessory/ImgCarousel/index.tsx
  src/components/AddAccessory/toggle/ItemInfo/ItemInfo.style.ts
  src/components/AddAccessory/toggle/ItemInfo/index.tsx
  src/components/AddAccessory/toggle/ToggleButton.tsx
  src/components/AddAccessory/toggle/ToggleMenu.style.ts
  src/components/AddAccessory/toggle/index.tsx
  src/constant/modalInfo.tsx
  src/constant/toggleMenu.ts
  src/pages/AddAccessory/AddAccessory.style.ts
  src/pages/AddAccessory/index.tsx
  yarn.lock
Labels: 퍼블리싱, AddAccessory

#70 [Main] 상단 Category, 아래 버튼 API 연결
  src/components/Main/FirstSection/FirstSectionBtn/FirstSectionBtn.style.ts
  src/components/Main/FirstSection/FirstSectionBtn/index.tsx
  src/components/Main/FirstSection/index.tsx
  src/components/Main/FourthSection/FourthSectionBtn/FourthSectionBtn.style.ts
  src/components/Main/FourthSection/FourthSectionBtn/index.tsx
  src/components/Main/FourthSection/index.tsx
  src/components/Main/SecondSection/SecondSectionBtn/SecondSectionBtn.style.ts
  src/components/Main/SecondSection/SecondSectionBtn/index.tsx
  src/components/Main/SecondSection/index.tsx
  src/components/Main/ThirdSection/ThirdSectionBtn/ThirdSectionBtn.style.ts
  src/components/Main/ThirdSection/ThirdSectionBtn/index.tsx
  src/components/Main/ThirdSection/index.tsx
  src/constant/gnbContents.ts
  src/libs/hooks/useGetMain.ts
  src/pages/Main/MainPage.style.ts
  src/pages/Main/index.tsx
Labels: api 추가, Main
